{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block content %}

    <form class="form-group" action="" method="post" id="author_form">{% csrf_token %}
        <fieldset>
            <legend>Add Author Information</legend>
            <div class="form-inline">
                <label class="control-label col-xs-3">First Name:</label>
                <input class="form-control" id="id_first_name" maxlength="20" name="first_name" type="text">
            </div>

            <div class="form-inline">
                <label class="control-label col-xs-3">Last Name:</label>
                <input class="form-control" id="id_last_name" maxlength="20" name="last_name" type="text">
            </div>

            <div class="form-inline">
                <label class="control-label col-xs-3">Email:</label>

                <input class="form-control" id="id_email" maxlength="75" name="email" type="email">

            </div>
            <div class="form-actions col-xs-offset-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </fieldset>
    </form>

{% endblock %}