{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h3>Authors</h3>
    <table class="table table-bordered table-hover ">
        <thead>
        <tr>
            <th><a href="/authors/">Authors</a></th>
            <th><a href="/books/">Books</a></th>
        </tr>
        </thead>
        <tbody>
        {% for author in object_list %}
            <tr>
                <td>
                    <a href="/authors/{{ author.id }}/">{{ author }}</a>
                </td>
                <td>
                    {% for book in author.book_set.all %}
                        <a href="/books/{{ book.id }}/">{{ book }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="/books/add" class="btn btn-info">Add book</a>
        <a href="/authors/add" class="btn btn-primary">Add author</a>
    </p>


{% endblock %}



