{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h3>{{ author }}</h3>

    <table class="table table-bordered table-hover ">
        <thead>
        <tr>
            <th><a href="/authors/">Authors</a></th>
            <th><a href="/books/">Books</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/authors/{{ author.id }}/update/">{{ author }}</a></td>
            <td>
                {% for book in author.book_set.all %}
                    <a href="/books/{{ book.id }}/update/">{{ book }}</a>
                {% endfor %}

            </td>
        </tr>

        </tbody>
    </table>
    <a href="/authors/{{ author.id }}/update/" class="btn btn-primary">Edit</a>
    <a href="/authors/{{ author.id }}/delete/" class="btn btn-danger">Delete</a>

{% endblock %}
