{#{% extends "base.html" %}#}
{#{% load i18n %}#}
{##}
{#{% block content %}#}
{#<h2>Create Book</h2>#}
{#<form action="" method="post">#}
{#    {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#    <br/>#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}
{#{% endblock %}#}


{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block content %}


    <form action="" method="post" class="form-group">{% csrf_token %}
        <fieldset>
            <legend>Book form</legend>
            <div class="form-group">
                <label class="control-label">Title</label>

                <div class="form-group" style="margin-top: 4px">
                    {{ form.title }}
                    <script type="text/javascript">addEvent(window, "load", function (e) {
                        SelectFilter.init("id_authors", "authors", 0, "/static/admin/");
                        $("div.selector").addClass("stacked");
                    });</script>
                    <a href="/authors/add/" id="add_id_authors" onclick="return showAddAnotherPopup(this);">
                        <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
                </div>
                {{ form.authors }}<br/>
            </div>

        </fieldset>
        <div class="form-actions">

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>

{% endblock %}