{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h3>Books</h3>

    <table class="table table-bordered table-hover ">
        <thead>
        <tr>
            <th><a href="/books/">Books</a></th>
            <th><a href="/authors/">Authors</a></th>
        </tr>
        </thead>
        <tbody>
        {% for book in object_list %}
            <tr>
                <td><a href="/books/{{ book.id }}/">{{ book.title }}</a></td>
                <td>
                    {% for author in book.authors.all %}
                        <a href="/authors/{{ author.id }}/">{{ author }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}</tbody>
    </table>

    <p>
        <a href="/books/add" class="btn btn-info">Add book</a>
        <a href="/authors/add" class="btn btn-primary">Add author</a>
    </p>

{% endblock %}