{% extends "base.html" %}

{% block content %}
    <table border="2">
        <td><h4><a href="/publishers/">Publishers</a></h4></td>
        <td><h4><a href="/books/">Books</a></h4></td>
        <td><h4><a href="/authors/">Authors</a></h4></td>
        {% for publisher in object_list %}
            <tr>
                <td>
                    <a href="/publishers/{{ publisher.id }}/">{{ publisher }}</a>
                </td>

                <td>
                    {% for book in publisher.book_set.all %}
                        <a href="/books/{{ book.id }}/">{{ book }}</a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% for book in publisher.book_set.all %}
                        {% for auth in book.authors.all %}
                            <a href="/authors/{{ auth.id }}/">{{ auth }}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}