{% extends 'base.html' %}


{% block content %}
    <div class="container-fluid">
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <p style="color: red">enter query < 20 symbols</p>
    {% endif %}

    <form method="get">
        <legend>Enter search query</legend>
        <div class="col-xs-6">
            <input name="query" type="text" class="form-control" placeholder="Search"/>
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-info" name="submit">Submit</button>
    </form>
{% endblock %}