{% extends 'base.html' %}


{% block content %}

    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <p style="color: red">enter query < 20 symbols</p>
    {% endif %}

    <form class="navbar-form navbar-left" method="get">
        <input name="q" type="text" class="form-control col-lg-8" placeholder="Search"/>
        {% csrf_token %}
        <button type="submit" class="btn btn-default" name="submit">Submit</button>
    </form>
{% endblock %}